/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

/******
 * mobile header css start here
 ******/
/**/
.mobile-header{
  width: 100%;
  padding: 18px 20px 18px 10px;
  background: url(../images/crafto-landing-page-hero-section-bg.jpg) top center no-repeat;
  display: flex;
  justify-items: center;
  position: relative;
}

.mobile-header .logo{
  width: 100%;
  text-align: left;
}

.mobile-header .logo img{
  width: 100%;
}

.mobile-header .btn-btns{
  width: 100%;
  text-align: right;
  margin-top: 6px;
}

.mobile-header .btn-btns a{
  padding: 8px 20px;
  font-size: 12px;
  color: var(--white-color);
  background-color: #292C36;
  border-radius: 25px;
}

.mobile-nav ul {
  position: relative;
  left: 0;
}

.dropdown-navmenu {
  position: relative;
}

.dropdown-boxed {
  position: relative;
  left: 0;
}

/******
 * mobile header css end here
 ******/



/******
 * banner css start here
 ******/
.banner{
  width: 100%;
  height: 90vh;
  padding: 40px 0px 20px;
  text-align: center;
  background: url(../images/hero-img.png), url(../images/crafto-landing-page-hero-section-bg.jpg);
  background-position: top center, top center;
  background-size: cover, cover;
  transform-style: preserve-3d;
  position: relative;
}

.banner .top-img{
  position: absolute;
  top: 5%;
  right: 45%;
}

.banner h1{
  font-size: 100px;
  font-weight: 800;
  background: linear-gradient(to bottom, #363A46 38%, #0a0b0d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -45px;
}

.banner .bg-text h1 span{
  vertical-align: text-top;
}

.banner h2{
  font-size: 42px;
  line-height: 42px;
  font-weight: 500;
  font-family: var(--secendary-font);
  padding: 0px 20px 0px;
  color: var(--white-color);
  position: relative;
  z-index: 2;
}

.banner p{
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
  padding: 10px 40px 0px;
  color: var(--accent-color);
}

.banner .banner-hero{
  display: none;
  width: 17%;
  position: absolute;
  top: 9%;
  left: 7%;
  z-index: 1;
  animation-name: banner-hero;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes banner-hero{
  0%{
    left: 50;
    top: 40%;
  }

  50%{
    left: 50;
    top: 43%;
  }

  100%{
    left: 50;
    top: 40%;
  }
}

.banner .bottom-img{
  position: absolute;
  bottom: 22%;
  left: 3%;
}

.banner .buttons{
  display: block;
  justify-items: center;
  gap: 20px;
  padding: 20px 0px 0px;
}

.banner .buttons .btn-btn1{
  position: relative;
  width: 220px;
  height: 65px;
  background-color: var(--white-color);
  text-align: center;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 0px 0px;
  margin-bottom: 20px;
}

.banner .buttons .btn-btn1 a{
  text-decoration: none;
}

.banner .buttons .btn-btn1 .button-text{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  color: var(--secondary-color);
  transition: transform 0.4s ease;
}

.banner .buttons .text-default{
  transform: translateY(0);
}

.banner .buttons .text-hover{
  transform: translateY(200%);
}

.banner .buttons .btn-btn1:hover .text-default {
  transform: translateY(-200%);
}

.banner .buttons .btn-btn1:hover .text-hover {
  transform: translateY(0);
}

.banner .buttons .btn-btn1 i{
  position: absolute;
  top: 36%;
  right: 18%;
  font-size: 18px;
  line-height: 18px;
  padding-left: 8px;
  color: var(--secondary-color);
  z-index: 10;
}

.banner .buttons .btn-btn2{
  position: relative;
  width: 220px;
  height: 65px;
  background-color: transparent;
  text-align: center;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7A7A83;
}

.banner .buttons .btn-btn2 a{
  text-decoration: none;
}

.banner .buttons .button-text{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  color: var(--white-color);
  transition: transform 0.4s ease;
}

.banner .buttons .text-default{
  transform: translateY(0);
}

.banner .buttons .text-hover{
  transform: translateY(200%);
}

.banner .buttons .btn-btn2:hover .text-default {
  transform: translateY(-200%);
}

.banner .buttons .btn-btn2:hover .text-hover {
  transform: translateY(0);
}

/******
 * banner css end here
 ******/





/******
 * feature css start here
 ******/
.feature{
  width: 100%;
  padding: 60px 0px 0px;
  background: url(../images/feature-bg.jpg) center; center no-repeat;
  background-size: cover;
  position: relative;
}

.feature .sub-title{
  width: max-content;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 12px 20px 8px;
  background: linear-gradient(to right, #4C9100 40%, #8AB351 100%);
  border-radius: 50px;
}

.feature .sub-title h5{
  font-size: 12px;
  font-weight: 600;
}

.feature .section-title h2{
  font-size: 40px;
  line-height: 40px;
}

.feature .feature-box{
  padding: 0px 0px 10px;
}

.feature .feature-box .box{
  padding: 0px 0px 10px;
  margin: 12px 4px;
}

.feature .counter-box{
  width: 100%;
  padding: 60px 0px 0px;
  gap: 20px;
  align-content: center;
}

.feature .counter-box .counter-item{
  text-align: center;
}

.feature .counter-box .counter-item h3{
  font-size: 40px;
  line-height: 45px;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.feature .counter-box .counter-item h3 span{
  font-size: 40px;
  line-height: 45px;
  font-weight: 600;
  color: var(--secondary-color);
}

.feature .counter-box .counter-item p{
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
}

.feature .brands{
  display: flex;
  justify-content: center;
  padding: 30px 0px 0px;
  gap: 30px;
}

.feature .brands .item{
  text-align: center;
  padding: 15px;
}

/******
 * feature css end here
 ******/



/******
 * demo css start here
 ******/
.demo{
  width: 100%;
  padding: 10px 0px 30px;
  background-color: #F4F5FA;
  position: relative;
}

.demo .title{
  text-align: center;
}

.demo .title .bg-text{
  text-align: center;
}

.demo .title .bg-text h1{
  font-size: 120px;
  font-weight: 800;
  margin-bottom: 0px;
}

.demo .title .bg-text h1 span{
  vertical-align: text-top;
}

.demo .title .top-img{
  display: none; 
}

.demo .title h2{
  font-size: 38px;
  line-height: 40px;
  font-weight: 700;
  top: 50%;
  left: 0;
}

.demo .title .demo-hero{
  display: none;
}

/******
 * demo css end here
 ******/



/******
 * all-demo css start here
 ******/
.all-demo .demos .content-wrapper .btns-group {
  margin: 10px 0px;
  text-align: left;
}

/******
 * all-demo css end here
 ******/



/******
 * text-slider css start here
 ******/
.text-slider marquee{
  font-size: 130px;
  line-height: 120px;
  padding: 0px 0px 30px;
}

.text-slider img{
  display: none;
}

/******
 * text-slider css end here
 ******/





/******
 * new-feature css end here
 ******/
.new-feature{
  width: 100%;
  padding: 20px 0px 20px;
  text-align: center;
}

.new-feature .title h2{
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  color: var(--secondary-color);
}

.new-feature .sub-title h5{
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--secondary-color);
  padding-top: 15px;
}

.new-feature .sub-title p{
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: var(--accent-color);
  padding-right: 25px;
}

.new-feature .feature-box{
  padding: 40px 0px 0px;
  justify-items: center;
}

.new-feature .feature-box img{
  width: auto;
}

.new-feature .feature-box h4{
  font-size: 17px;
  line-height: 35px;
  font-weight: 700;
  color: var(--secondary-color);
  margin: 20px 0px 20px;
}

.new-feature .feature-box p{
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--accent-color);
  background-color: #F4F5FA;
  width: max-content;
  padding: 5px 35px;
  border-radius: 25px;
}

.new-feature .feature-btn{
  display: block;
  padding: 60px 0px 20px;
  justify-items: center;
}

.new-feature .feature-btn .p-btn{
  width: max-content;
  background-color: #D1372A;
  padding: 2px 18px;
  border-radius: 25px;
  font-size: 11px;
  line-height: 25px;
  font-weight: 700;
  font-family: var(--secendary-font);
  color: var(--white-color);
  text-transform: uppercase;
}

.new-feature .feature-btn p{
  padding: 0px 25px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  font-family: var(--secendary-font);
  color: var(--secondary-color);
  text-transform: uppercase;
  text-align: center;
}

.new-feature .feature-btn i{
  display: none;
}

.new-feature .feature-btn img{
  display: none;
}

/******
 * new-feature css end here
 ******/






/******
 * fantastic-portfolio css start here
 ******/
.fantastic-portfolio{
  width: 100%;
  height: auto;
  padding: 40px 0px;
  background-color: #F1F1F9;
  position: relative;
}

.fantastic-portfolio .portfolio-img{
  width: 100%;
}

.fantastic-portfolio .portfolio-img img{
  width: 100%;
  position: relative;
  top: auto;
  left: 0;
}

.fantastic-portfolio .portfolio-content{
  width: 100%;
  padding: 10px;
}

.fantastic-portfolio .portfolio-content-bg img{
  display: none;
}

.fantastic-portfolio .portfolio-content .p-btn{
  width: max-content;
  background: linear-gradient(to right, #DDDFEB 50%, #F0F2F8 100%);
  padding: 3px 20px;
  border-radius: 25px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--secendary-font);
  color: var(--secondary-color);
}

.fantastic-portfolio .portfolio-content h2{
  font-size: 52px;
  line-height: 52px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-top: 20px;
}

.fantastic-portfolio .portfolio-content p{
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: var(--accent-color);
  padding: 10px 10px 0px 0px;
  margin: 0px;
}

.fantastic-portfolio .portfolio-content p span{
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: var(--secondary-color);
}

.fantastic-portfolio .fantastic-feature-box{
  width: 100%;
  gap: 20px;
  padding: 0px 0px 0px 10px;
}

.fantastic-portfolio .fantastic-feature-box .features{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.fantastic-portfolio .fantastic-feature-box .features .icon{
  width: 20%;
  padding: 25px 28px
}

.fantastic-portfolio .fantastic-feature-box .features .icon i{
  font-size: 22px;
}

.fantastic-portfolio .fantastic-feature-box .features p{
  width: 80%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--secondary-color);
  padding: 11px 0px 0px 10px;
}

.fantastic-portfolio .fantastic-btn{
  width: 100%;
  padding: 60px 0px 20px 10px;
}

.fantastic-portfolio .fantastic-btn a{
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--secondary-color);
  padding: 20px 50px;
  border-radius: 50px;
}

.fantastic-portfolio .fantastic-btn a i{
  font-size: 14px;
  color: var(--white-color);
}

/******
 * fantastic-portfolio css end here
 ******/





/******
 * ultimate-bloggers css start here
 ******/
.ultimate-bloggers{
  width: 100%;
  height: auto;
  padding: 40px 0px 450px;
  background-color: #EEE2F0;
  position: relative;
}

.ultimate-bloggers .portfolio-content-bg img{
  display: none;
}

.ultimate-bloggers .ultimate-portfolio-content{
  width: 100%;
  padding: 40px 0px 0px 10px;
  position: relative; 
  top: 42%;
}

.ultimate-bloggers .ultimate-portfolio-content .p-btn{
  width: max-content;
  background: linear-gradient(to right, #D6CAD6 50%, #EEE2EF 100%);
  padding: 3px 20px;
  border-radius: 25px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--secendary-font);
  color: var(--secondary-color);
}

.ultimate-bloggers .ultimate-portfolio-content h2{
  font-size: 52px;
  line-height: 52px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-top: 20px;
}

.ultimate-bloggers .ultimate-portfolio-content p{
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: var(--accent-color);
  padding: 20px 10px 0px 0px;
  margin: 0px;
}

.ultimate-bloggers .ultimate-portfolio-content p span{
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: var(--secondary-color);
}

.ultimate-bloggers .ultimate-feature-box{
  width: 100%;
  gap: 20px;
  padding: 0px 0px 0px 10px;
  position: relative;
  top: 42%;
}

.ultimate-bloggers .ultimate-feature-box .features{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.ultimate-bloggers .ultimate-feature-box .features .icon{
  width: 20%;
  padding: 25px 28px;
  background-color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.ultimate-bloggers .ultimate-feature-box .features .icon i{
  font-size: 22px;
  color: #000;
}

.ultimate-bloggers .ultimate-feature-box .features p{
  width: 80%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--secondary-color);
  padding: 11px 0px 0px 10px;
}

.ultimate-bloggers .fantastic-btn{
  width: 100%;
  padding: 60px 0px 5px 10px;
  position: absolute;
  bottom: 5%;
}

.ultimate-bloggers .fantastic-btn a{
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--secondary-color);
  padding: 20px 50px;
  border-radius: 50px;
}

.ultimate-bloggers .fantastic-btn a i{
  font-size: 14px;
  color: var(--white-color);
}

.ultimate-bloggers .portfolio-img{
  width: 100%;
}

.ultimate-bloggers .portfolio-img img{
  width: 95%;
  position: absolute;
  top: 5%;
  right: auto;
}

/******
 * ultimate-bloggers css end here
 ******/





/******
 * empower css start here
 ******/
.empower-portfolio{
  width: 100%;
  height: auto;
  padding: 40px 0px 40px;
  background-color: #F0F2F8;
}

.empower-portfolio .portfolio-img{
  width: 100%;
}

.empower-portfolio .portfolio-img img{
  width: 100%;
  position: relative;
  top: auto;
  left: 0%;
}

.empower-portfolio .portfolio-content{
  width: 100%;
  padding: 20px 0px 0px 10px;
}

.empower-portfolio .portfolio-content-bg img{
  display: none;
}

.empower-portfolio .portfolio-content .p-btn{
  width: max-content;
  background: linear-gradient(to right, #DDDFEB 50%, #F0F2F8 100%);
  padding: 3px 20px;
  border-radius: 25px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--secendary-font);
  color: var(--secondary-color);
}

.empower-portfolio .portfolio-content h2{
  font-size: 52px;
  line-height: 52px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-top: 20px;
}

.empower-portfolio .portfolio-content p{
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: var(--accent-color);
  padding: 20px 10px 0px 0px;
  margin: 0px;
}

.empower-portfolio .portfolio-content p span{
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: var(--secondary-color);
}

.empower-portfolio .empower-feature-box{
  width: 100%;
  gap: 20px;
  padding: 0px 0px 0px 10px;
  position: relative;
  z-index: 5;
}

.empower-portfolio .empower-feature-box .features{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.empower-portfolio .empower-feature-box .features .icon{
  width: 20%;
  padding: 25px 28px;
  background: #FFFFFF;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.empower-portfolio .empower-feature-box .features .icon i{
  font-size: 22px;
}

.empower-portfolio .empower-feature-box .features p{
  width: 80%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--secondary-color);
  padding: 0px 0px 0px 15px;
}

.empower-portfolio .fantastic-btn{
  width: 100%;
  padding: 60px 0px 20px 10px;
}

.empower-portfolio .fantastic-btn a{
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--secondary-color);
  padding: 20px 50px;
  border-radius: 50px;
}

.empower-portfolio .fantastic-btn a i{
  font-size: 14px;
  color: var(--white-color);
}

/******
 * empower css end here
 ******/





/******
 * ultimate-collection css start here
 ******/
.ultimate-collection{
  width: 100%;
  padding: 50px 0px 50px;
  background-color: #FFFFFF;
  position: relative;
}

.ultimate-collection .heading{
  width: 100%;
  text-align: center;
}

.ultimate-collection .heading .top-img{
  display: none;
}

.ultimate-collection .heading h1{
  font-size: 112px;
  line-height: 112px;
}

.ultimate-collection .heading .bottom-img{
  display: none;
}

.ultimate-collection .content{
  width: 100%;
  padding: 30px 20px 0px;
  justify-items: center;
  text-align: center;
}

.ultimate-collection .content .p-btn{
  width: max-content;
  background: linear-gradient(to right, #ECF0F6 50%, #FFFFFF 100%);
  padding: 3px 20px;
  border-radius: 25px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--secendary-font);
  color: var(--secondary-color);
}

.ultimate-collection .content h2{
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-top: 20px;
}

.ultimate-collection .content p{
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: var(--accent-color);
  padding: 20px 0px 0px 0px;
  margin: 0px;
}

.ultimate-collection .content p span{
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: var(--secondary-color);
}

/******
 * ultimate-collection css end here
 ******/




/******
 * image-slide css start here
 ******/
.image-slide{
  width: 100%;
  padding: 0px 0px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  background-color: var(--white-color);
}

.image-slide .swiper-marquee{
  width: 100%;
  display: flex;
  animation: scroll 30s linear infinite;
}

.image-slide .swiper-marquee .marquee-item{
  padding: 0px 0px;
}

.image-slide .swiper-marquee .marquee-item img{
  width: 320px;
  height: 105vh;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.image-slide .bottom-overly{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 14.87%, rgba(255, 255, 255, 0.831169) 55.17%, #FFFFFF 75.13%);
  opacity: 1;
  height: 400px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  content: "";
  z-index: 5;
}

.image-slide .bottom-overly img{
  width: 100%;
  position: absolute;
  bottom: 12%;
  left: 0;
  z-index: 9;
}

/******
 * image-slide css end here
 ******/




/******
 * limitless-feature css start here
 ******/
.limitless-feature{
  width: 100%;
  padding: 20px 0px 80px;
  background: var(--secondary-color);
  position: relative;
}

.limitless-feature .bg-text{
  text-align: center;
}

.limitless-feature .bg-text h1{
  font-size: 105px;
  line-height: 105px;
  font-weight: 800;
}

.limitless-feature h2{
  font-size: 42px;
  line-height: 42px;
  margin-top: -32px;
}

.limitless-feature .cicle-text{
  display: none;
}

.limitless-feature .cicle-img{
  display: none;
}

/******
 * limitless-feature css end here
 ******/





/******
 * limitless-feature-box css start here
 ******/
.limitless-feature-box{
  width: 100%;
  padding: 0px 0px 40px;
  margin: 0px auto;
  background: var(--secondary-color);
  column-gap: 30px;
}

.limitless-feature-box .box-item{
  width: 100%;
  padding: 20px 0px 30px;
  margin: 30px 0px 0px 0px;
  background: #1E1E28;
  border-radius: 8px;
  transition: 0.4s;
}

.limitless-feature-box .box-item:hover{
  margin: 27px 0px 0px 0px;
}

.limitless-feature-box .box-item img{
  width: 100%;
}

.limitless-feature-box .box-item h5{
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: var(--white-color);
  font-family: var(--primary-font);
  padding: 0px 30px 0px 35px;
}

.limitless-feature-box .box-item p{
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #76767F;
  padding: 0px 52px 0px 35px;
}

.limitless-feature-box .limitless-btn{
  display: block;
  padding: 40px 0px 0px;
  justify-items: center;
}

.limitless-feature-box .limitless-btn .p-btn{
  width: max-content;
  background-color: #00AF6B;
  padding: 2px 18px;
  border-radius: 25px;
  font-size: 11px;
  line-height: 25px;
  font-weight: 700;
  font-family: var(--secendary-font);
  color: var(--white-color);
  text-transform: uppercase;
}

.limitless-feature-box .limitless-btn p{
  padding: 0px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 600;
  font-family: var(--secendary-font);
  color: var(--white-color);
  text-transform: uppercase;
}

.limitless-feature-box .limitless-btn i{
  display: none;
}

/******
 * limitless-feature-box css end here
 ******/



/******
 * premium-elements css start here
 ******/
.premium-elements{
  width: 100%;
  padding: 60px 0px 40px;
  background-color: #FFFFFF;
  position: relative;
}

.premium-elements .heading{
  width: 100%;
  text-align: center;
}

.premium-elements .heading .top-img{
  display: none;
}

.premium-elements .heading h1{
  font-size: 112px;
  line-height: 112px;
  font-weight: 800;
  color: var(--secondary-color);
}

.premium-elements .heading .bottom-img{
  display: none;
}

.premium-elements .content{
  width: 100%;
  padding: 0px 1px 0px 1px;
  text-align: center;
}

.premium-elements .content h2{
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-top: 20px;
}

.premium-elements .content p{
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: var(--accent-color);
  padding: 0px;
  margin: 0px;
}

.premium-elements .content p span{
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: var(--secondary-color);
}

/******
 * premium-elements css end here
 ******/





















}












