:root{
  --primary-font: "Golos Text", sans-serif;
  --secendary-font: "Plus Jakarta Sans", sans-serif;
  --primary-color: #15161d;
  --secondary-color: #15161d;
  --accent-color: #7a7a83;
  --white-color: #ffffff;
}

*{
  padding: 0;
  margin: 0;
}

/*html{
  height: 100vh;
  overflow: hidden;
}*/

body{
  font-size: 16px;
  line-height: 26px;
  font-family: var(primary-font);
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Plus Jakarta Sans", sans-serif;
}

a, a:hover{
  text-decoration: none;
}


/******
 * header css start here
 ******/
.header{
  width: 100%;
  padding: 30px 0px 30px;
  background: url(../images/crafto-landing-page-hero-section-bg.jpg) top center no-repeat;
  background-size: cover;
}

.header .logo{
  width: 100%
}

.header .logo img{
  width: 60%
}

.header .menu ul{
  list-style: none;
  display: flex;
  padding-top: 8px;
}

.header .menu ul li{
  padding-right: 26px;
}

.header .menu ul li a{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  transition: 0.3s ease-in;
}

.header .menu ul li a:hover{
  color: #A1A2A5;
}

.header .btn-btn{
  text-align: right;
}

.header button{
  text-decoration: none;
  background: #292C36;
  border: 1px solid #292C36;
  border-radius: 50px;
  padding: 10px 20px;

}

.header button a{
  font-size: 12px;
  line-height: 18px;
  font-family: var(--secendary-font);
  color: var(--white-color);
  transition: opacity .65s, transform .85s;
  transition-timing-function: cubic-bezier(.15,.85,.31,1);
}

.header button i{
  font-size: 12px;
  line-height: 18px;
  padding-left: 8px;
  color: var(--white-color);
}

/******
 * header css end here
 ******/




/******
 * banner css start here
 ******/
.banner{
  width: 100%;
  padding: 0px 0px 20px;
  text-align: center;
  background: url(../images/hero-img.png) top center no-repeat, url(../images/crafto-landing-page-hero-section-bg.jpg) left center no-repeat;
  background-size: cover, cover;
  position: relative;
  transform-style: preserve-3d;
}

/*.banner::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/hero-img.png) top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.0);
}*/

.banner .bg-text{
  text-align: center;
}

.banner .bg-text h1{
  font-size: 250px;
  font-weight: 800;
  background: linear-gradient(to bottom, #363A46 38%, #0a0b0d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -160px;
}

.banner .bg-text h1 span{
  vertical-align: text-top;
}

.banner .top-img{
  position: absolute;
  top: 22%;
  right: 35%;
}

.banner h2{
  font-size: 58px;
  line-height: 58px;
  font-weight: 500;
  font-family: var(--secendary-font);
  padding: 50px 0px 0px;
  color: var(--white-color);
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 2;
}

.banner p{
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
  padding: 200px 0px 0px;
  color: var(--accent-color);
}

.banner .btn-btn{
  padding: 15px 0px 5px;
}

.banner .btn-btn .btn1{
  text-decoration: none;
  background: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 50px;
  padding: 15px 35px;
}

.banner .btn-btn .btn1 a{
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  font-family: var(--secendary-font);
  color: var(--secondary-color);
  transition: opacity .65s, transform .85s;
  transition-timing-function: cubic-bezier(.15,.85,.31,1);
}

.banner .btn-btn .btn1 i{
  font-size: 17px;
  line-height: 17px;
  padding-left: 8px;
  color: #000;
}

.banner .btn-btn .btn2{
  text-decoration: none;
  background: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
  padding: 15px 35px;
  margin-left: 18px;
}

.banner .btn-btn .btn2 a{
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  font-family: var(--secendary-font);
  color: var(--white-color);
  transition: opacity .65s, transform .85s;
  transition-timing-function: cubic-bezier(.15,.85,.31,1);
}

.banner .banner-hero{
  width: 100%;
  position: absolute;
  top: 43%;
  left: -32%;
  z-index: 1;
  animation-name: banner-hero;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.banner .banner-hero img{
  width: 16%;
}

@keyframes banner-hero{
  0%{
    left: 50;
    top: 40%;
  }

  50%{
    left: 50;
    top: 43%;
  }

  100%{
    left: 50;
    top: 40%;
  }
}

.banner .bottom-img{
  position: absolute;
  bottom: 3%;
  left: 14%;
}
/******
 * banner css end here
 ******/




/******
 * feature css start here
 ******/
.feature{
  width: 100%;
  padding: 80px 0px 0px;
  background: url(../images/feature-bg.jpg) left center no-repeat;
  background-size: cover;
}

.feature .sub-title{
  width: max-content;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 15px 30px 10px;
  background: linear-gradient(to right, #4C9100 40%, #8AB351 100%);
  border-radius: 50px;
}

.feature .sub-title svg{
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.feature .sub-title h5{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white-color);
}

.feature .section-title h2{
  font-size: 58px;
  line-height: 58px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  padding: 30px 0px;
}

.feature .feature-box{
  width: 100%;
  margin: 0px auto;
  padding: 20px 0px 10px;
}

.feature .feature-box .box{
  padding: 0px 0px 10px;
  margin: 0px 4px;
  background: #F4F5FA;
  border: 2px solid var(--white-color);
  border-radius: 6px;
  text-align: center;
  transition: 0.4s;
}

.feature .feature-box .box:hover{
  margin-top: -3px;
}

.feature .feature-box .box img{
  width: 100%;
}

.feature .feature-box .box h5{
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.feature .feature-box .box p{
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: var(--accent-color);
  padding: 10px 30px 20px;
}

.feature .counter-box{
  width: 100%;
  padding: 60px 0px 0px;
  gap: 20px;
}

.feature .counter-box .counter-item{
  text-align: center;
}

.feature .counter-box .counter-item h3{
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.feature .counter-box .counter-item h3 span{
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
  color: var(--secondary-color);
}

.feature .counter-box .counter-item p{
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
}

.feature .brands{
  display: flex;
  justify-content: center;
  padding: 30px 0px 0px;
  gap: 30px;
}

.feature .brands{
  text-decoration: none;
}

/******
 * feature css end here
 ******/





/******
 * demo css start here
 ******/
.demo{
  width: 100%;
  padding: 60px 0px 30px;
  background-color: #F4F5FA;
  position: relative;
}

.demo .title{
  text-align: center;
}

.demo .title .bg-text{
  text-align: center;
}

.demo .title .bg-text h1{
  font-size: 290px;
  font-weight: 800;
  background: linear-gradient(to bottom, #D8DBE7 38%, #EEF0F6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -40px;
}

.demo .title .bg-text h1 span{
  vertical-align: text-top;
}

.demo .title .top-img{
  position: absolute;
  top: 24%;
  right: 13%;  
}

.demo .title h2{
  font-size: 54px;
  line-height: 54px;
  font-weight: 700;
  font-family: var(--secendary-font);
  color: var(--secondary-color);
  position: absolute;
  top: 70%;
  left: 24%;
  z-index: 1;
}

.demo .title .demo-hero{
  position: absolute;
  top: 43%;
  left: 15%;
  z-index: 1;
  animation-name: demo-hero;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  margin-top: -58px;
}

.banner .demo-hero img{
  width: 30%;
  margin-top: 2px;
}

@keyframes demo-hero{
  0%{
    left: 50;
    top: 40%;
  }

  50%{
    left: 50;
    top: 43%;
  }

  100%{
    left: 50;
    top: 40%;
  }
}

/******
 * demo css end here
 ******/






/******
 * all-demo css start here
 ******/
.all-demo{
  width: 100%;
  padding: 0px 0px 60px;
  margin: 0px auto;
  background: linear-gradient(to bottom, #F4F5FA 50%, #FFFFFF 100%);
}

.all-demo .demos{
  padding: 15px 15px 5px;
  margin-top: 40px;
  background-color: var(--white-color);
  border-radius: 10px;
  transition: 0.34s;
}

.all-demo .demos:hover{
  margin-top: 37px;
}

.all-demo .demos img{
  width: 100%;
  border-radius: 10px;
}

.all-demo .demos .content-wrapper{
  padding: 20px 20px 10px;
}

.all-demo .demos .content-wrapper .content{
  margin: 0px auto;
}

.all-demo .demos .content-wrapper .content h5{
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: var(--secondary-color);
  font-family: var(--primary-font);
}

.all-demo .demos .content-wrapper .content p{
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--accent-color);
  padding: 0px;
}

.all-demo .demos .content-wrapper .btns-group{
  margin: 10px 0px;
  text-align: right;
}

.all-demo .demos .content-wrapper .btns-group .btn1{
  padding: 0px 20px 0px;
  background-color: #FFEDED;
  border: 1px solid #FFEDED;
  border-radius: 25px;
}

.all-demo .demos .content-wrapper .btns-group .btn1 a{
  font-size: 12px;
  font-weight: 700;
  color: #E75050;
  text-transform: uppercase;
  padding: 0px;
}

.all-demo .demos .content-wrapper .btns-group .btn2{
  padding: 0px 20px 0px;
  margin-left: 8px;
  background-color: #DBF2E7;
  border: 1px solid #DBF2E7;
  border-radius: 25px;
}

.all-demo .demos .content-wrapper .btns-group .btn2 a{
  font-size: 12px;
  font-weight: 700;
  color: #2F906B;
  text-transform: uppercase;
}

/******
 * all-demo css end here
 ******/




/******
 * text-slider css start here
 ******/
.text-slider{
  width: 100%;
  padding: 0px;
  margin: 0px auto;
  position: relative;
}

.padd-0{
  --bs-gutter-x: 0px;
}

.text-slider marquee{
  font-size: 300px;
  line-height: 310px;
  font-weight: 600;
  color: #ebeef5;
  padding: 0px 0px 60px;
}

.text-slider img{
  width: 50%;
  position: absolute;
  top: 0%;
  left: 42%;
}

/******
 * text-slider css end here
 ******/





/******
 * new-feature css end here
 ******/
.new-feature{
  width: 100%;
  padding: 20px 0px 20px;
}

.new-feature .title h2{
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  color: var(--secondary-color);
}

.new-feature .sub-title h5{
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.new-feature .sub-title p{
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: var(--accent-color);
  padding-right: 25px;
}

.new-feature .brands{
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 40px 0px 0px;
}

.new-feature .brands .brand-box{
  text-align: center;
}

.new-feature .brands .brand-box img{
  width: auto;
}

.new-feature .brands .brand-box h4{
  font-size: 17px;
  line-height: 35px;
  font-weight: 700;
  color: var(--secondary-color);
  margin: 20px 0px 20px;
}

.new-feature .brands .brand-box p{
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--accent-color);
  background-color: #F4F5FA;
  width: max-content;
  padding: 5px 35px;
  border-radius: 25px;
}

.new-feature .brand-btn{
  display: flex;
  padding: 60px 0px;
  justify-content: center;
  align-items: start;
}

.new-feature .brand-btn .p-btn{
  width: max-content;
  background-color: #D1372A;
  padding: 2px 18px;
  border-radius: 25px;
  font-size: 11px;
  line-height: 25px;
  font-weight: 700;
  font-family: var(--secendary-font);
  color: var(--white-color);
  text-transform: uppercase;
}

.new-feature .brand-btn p{
  padding-left: 15px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  font-family: var(--secendary-font);
  color: var(--secondary-color);
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.new-feature .brand-btn i{
  padding-left: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  color: var(--secondary-color);
}

.new-feature .brand-btn img{
  width: 15.6%;
  position: absolute;
  z-index: 1;
  left: 46.5%;
  top: auto;
}

/******
 * new-feature css end here
 ******/




/******
 * fantastic-portfolio css start here
 ******/
.fantastic-portfolio{
  width: 100%;
  height: 100vh;
  padding: 10px 0px;
  background-color: #F0F2F8;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  overflow-y: hidden;
}

.fantastic-portfolio .portfolio-img{
  width: 100%;
}

.fantastic-portfolio .portfolio-img img{
  width: 70%;
  position: absolute;
  top: auto;
  left: -20%;
}

.fantastic-portfolio .portfolio-content{
  width: 100%;
  padding: 50px 0px 0px 90px;
  position: relative;
  z-index: 5;
}

.fantastic-portfolio .portfolio-content-bg img{
  position: absolute;
  z-index: 1; 
  top: 1%;
  right: 0%;
}

.fantastic-portfolio .portfolio-content .p-btn{
  width: max-content;
  background: linear-gradient(to right, #DDDFEB 50%, #F0F2F8 100%);
  padding: 3px 20px;
  border-radius: 25px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--secendary-font);
  color: var(--secondary-color);
}

.fantastic-portfolio .portfolio-content h2{
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-top: 20px;
}

.fantastic-portfolio .portfolio-content p{
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: var(--accent-color);
  padding: 20px 55px 0px 0px;
  margin: 0px;
}

.fantastic-portfolio .portfolio-content p span{
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: var(--secondary-color);
}

.fantastic-portfolio .fantastic-feature-box{
  width: 100%;
  gap: 20px;
  padding: 0px 0px 0px 90px;
}

.fantastic-portfolio .fantastic-feature-box .features{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.fantastic-portfolio .fantastic-feature-box .features .icon{
  padding: 22px 25px;
  background-color: #fff;
  border-radius: 50%;
}

.fantastic-portfolio .fantastic-feature-box .features .icon i{
  font-size: 25px;
}

.fantastic-portfolio .fantastic-feature-box .features p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--secondary-color);
  padding: 0px 0px 0px 15px;
}

/******
 * fantastic-portfolio css end here
 ******/





/******
 * ultimate-bloggers css start here
 ******/
.ultimate-bloggers{
  width: 100%;
  height: 100vh;
  padding: 10px 0px;
  background-color: #EEE2EF;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  overflow: hidden;
}

.ultimate-bloggers .portfolio-content-bg img{
  position: absolute;
  z-index: 1; 
  top: 1%;
  left: 0%;
}

.ultimate-bloggers .ultimate-portfolio-content{
  width: 100%;
  padding: 50px 0px 0px 90px;
  position: relative;
  z-index: 5; 
}

.ultimate-bloggers .ultimate-portfolio-content .p-btn{
  width: max-content;
  background: linear-gradient(to right, #D6CAD6 50%, #EEE2EF 100%);
  padding: 3px 20px;
  border-radius: 25px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--secendary-font);
  color: var(--secondary-color);
}

.ultimate-bloggers .ultimate-portfolio-content h2{
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-top: 20px;
}

.ultimate-bloggers .ultimate-portfolio-content p{
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: var(--accent-color);
  padding: 20px 85px 0px 0px;
  margin: 0px;
}

.ultimate-bloggers .ultimate-portfolio-content p span{
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: var(--secondary-color);
}

.ultimate-bloggers .ultimate-feature-box{
  width: 100%;
  gap: 20px;
  padding: 0px 0px 0px 90px;
}

.ultimate-bloggers .ultimate-feature-box .features{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.ultimate-bloggers .ultimate-feature-box .features .icon{
  padding: 22px 25px;
  background-color: #fff;
  border-radius: 50%;
}

.ultimate-bloggers .ultimate-feature-box .features .icon i{
  font-size: 25px;
}

.ultimate-bloggers .ultimate-feature-box .features p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--secondary-color);
  padding: 0px 0px 0px 15px;
}

.ultimate-bloggers .portfolio-img{
  width: 100%;
}

.ultimate-bloggers .portfolio-img img{
  width: 70%;
  position: absolute;
  top: auto;
  right: -20%;
}

/******
 * ultimate-bloggers css end here
 ******/






/******
 * empower css start here
 ******/
.empower-portfolio{
  width: 100%;
  height: 108vh;
  padding: 10px 0px 0px;
  background-color: #F0F2F8;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  overflow-y: hidden;
}

.empower-portfolio .portfolio-img{
  width: 100%;
}

.empower-portfolio .portfolio-img img{
  width: 70%;
  position: absolute;
  top: auto;
  left: -20%;
}

.empower-portfolio .portfolio-content{
  width: 100%;
  padding: 50px 0px 0px 90px;
  position: relative;
  z-index: 5;
}

.empower-portfolio .portfolio-content-bg img{
  position: absolute;
  z-index: 1; 
  top: 1%;
  right: 0%;
}

.empower-portfolio .portfolio-content .p-btn{
  width: max-content;
  background: linear-gradient(to right, #DDDFEB 50%, #F0F2F8 100%);
  padding: 3px 20px;
  border-radius: 25px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--secendary-font);
  color: var(--secondary-color);
}

.empower-portfolio .portfolio-content h2{
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-top: 20px;
}

.empower-portfolio .portfolio-content p{
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: var(--accent-color);
  padding: 20px 55px 0px 0px;
  margin: 0px;
}

.empower-portfolio .portfolio-content p span{
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: var(--secondary-color);
}

.empower-portfolio .empower-feature-box{
  width: 100%;
  gap: 20px;
  padding: 0px 0px 0px 90px;
}

.empower-portfolio .empower-feature-box .features{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.empower-portfolio .empower-feature-box .features .icon{
  padding: 22px 25px;
  background: #FFFFFF;
  border-radius: 50%;
}

.empower-portfolio .empower-feature-box .features .icon i{
  font-size: 25px;
}

.empower-portfolio .empower-feature-box .features p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--secondary-color);
  padding: 0px 0px 0px 15px;
}

/******
 * empower css end here
 ******/





/******
 * ultimate-collection css start here
 ******/
.ultimate-collection{
  width: 100%;
  padding: 120px 0px 60px;
  background-color: #FFFFFF;
  position: relative;
}

.ultimate-collection .heading{
  width: 100%;
  text-align: center;
}

.ultimate-collection .heading .top-img{
  position: absolute;
  top: 43%;
  left: 38%;
  z-index: 1;
  animation-name: top-img;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.ultimate-collection .heading .top-img img{
  width: 90%;
}

@keyframes top-img{
  0%{
    left: 34%;
    top: 12%;
  }

  50%{
    left: 34%;
    top: 15%;
  }

  100%{
    left: 34%;
    top: 12%;
  }
}

.ultimate-collection .heading h1{
  font-size: 190px;
  line-height: 190px;
  font-weight: 800;
  color: var(--secondary-color);
}

.ultimate-collection .heading .bottom-img{
  position: absolute;
  top: 51%;
  left: 12%;

}

.ultimate-collection .heading .bottom-img img{
  width: 100%;
}

.ultimate-collection .content{
  width: 100%;
  padding: 0px 0px 0px 80px;
}

.ultimate-collection .content .p-btn{
  width: max-content;
  background: linear-gradient(to right, #ECF0F6 50%, #FFFFFF 100%);
  padding: 3px 20px;
  border-radius: 25px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--secendary-font);
  color: var(--secondary-color);
}

.ultimate-collection .content h2{
  font-size: 57px;
  line-height: 57px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-top: 20px;
}

.ultimate-collection .content p{
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: var(--accent-color);
  padding: 20px 55px 0px 0px;
  margin: 0px;
}

.ultimate-collection .content p span{
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: var(--secondary-color);
}

/******
 * ultimate-collection css end here
 ******/





/******
 * image-slide css start here
 ******/
.image-slide{
  width: 100%;
  padding: 0px 0px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  background-color: var(--white-color);
}

.image-slide .swiper-marquee{
  width: 100%;
  display: flex;
  animation: scroll 30s linear infinite;
}

.image-slide .swiper-marquee .marquee-item{
  padding: 0px 1px;
}

.image-slide .swiper-marquee .marquee-item img{
  width: 320px;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.image-slide .bottom-overly{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 14.87%, rgba(255, 255, 255, 0.831169) 55.17%, #FFFFFF 75.13%);
  opacity: 1;
  height: 400px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  content: "";
  z-index: 5;
}

.image-slide .bottom-overly img{
  position: absolute;
  bottom: 12%;
  left: 28%;
  z-index: 9;
}

/******
 * image-slide css end here
 ******/





/******
 * limitless-feature css start here
 ******/
.limitless-feature{
  width: 100%;
  padding: 20px 0px 80px;
  background: var(--secondary-color);
  position: relative;
}

.limitless-feature .bg-text{
  text-align: center;
}

.limitless-feature .bg-text h1{
  font-size: 320px;
  line-height: 320px;
  font-weight: 800;
  background: linear-gradient(to bottom, #2E3148 38%, #171820 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.limitless-feature h2{
  font-size: 58px;
  line-height: 58px;
  font-weight: 600;
  color: var(--white-color);
  text-align: center;
  margin-top: -105px;
}

.limitless-feature .cicle-text{
  width: 100%;
}

.limitless-feature .cicle-text img{
  width: 12%;
  position: absolute;
  top: 17%;
  right: 4%;
  z-index: 5;
  animation: circle-text 10s linear infinite;
}

@keyframes circle-text {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.limitless-feature .cicle-img{
  width: 100%;
}

.limitless-feature .cicle-img img{
  width: 12%;
  position: absolute;
  top: 17%;
  right: 4%;
  z-index: 9;
}

/******
 * limitless-feature css end here
 ******/




/******
 * limitless-feature-box css start here
 ******/
.limitless-feature-box{
  width: 100%;
  padding: 0px 0px 80px;
  margin: 0px auto;
  background: var(--secondary-color);
  column-gap: 30px;
}

.limitless-feature-box .box-item{
  width: 100%;
  padding: 20px 0px 30px;
  margin: 30px 0px 0px 0px;
  background: #1E1E28;
  border-radius: 8px;
  transition: 0.4s;
}

.limitless-feature-box .box-item:hover{
  margin: 27px 0px 0px 0px;
}

.limitless-feature-box .box-item img{
  width: 100%;
}

.limitless-feature-box .box-item h5{
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: var(--white-color);
  font-family: var(--primary-font);
  padding: 0px 30px 0px 35px;
}

.limitless-feature-box .box-item p{
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #76767F;
  padding: 0px 52px 0px 35px;
}

.limitless-feature-box .limitless-btn{
  display: flex;
  padding: 80px 0px 0px;
  justify-content: center;
  align-items: center;
}

.limitless-feature-box .limitless-btn .p-btn{
  width: max-content;
  background-color: #00AF6B;
  padding: 2px 18px;
  border-radius: 25px;
  font-size: 11px;
  line-height: 25px;
  font-weight: 700;
  font-family: var(--secendary-font);
  color: var(--white-color);
  text-transform: uppercase;
}

.limitless-feature-box .limitless-btn p{
  padding-left: 15px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 600;
  font-family: var(--secendary-font);
  color: var(--white-color);
  text-transform: uppercase;
}

.limitless-feature-box .limitless-btn i{
  padding-left: 10px;
  margin-top: -15px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  color: var(--white-color);
}




/******
 * limitless-feature-box css end here
 ******/



















