:root{
  --primary-font: "Golos Text", sans-serif;
  --secendary-font: "Plus Jakarta Sans", sans-serif;
  --primary-color: #15161d;
  --secondary-color: #15161d;
  --accent-color: #7a7a83;
  --white-color: #ffffff;
}

*{
  padding: 0;
  margin: 0;
}

html{
  height: 100vh;
  overflow: hidden;
}

body{
  font-size: 16px;
  line-height: 26px;
  font-family: var(primary-font);
  width: 100vw;
  height: 100vh;
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Plus Jakarta Sans", sans-serif;
}

a, a:hover{
  text-decoration: none;
}
ul , ol{
  margin: 0;
  padding: 0;
}
li, li:hover{
  list-style: none;
}

/* feature start */
.features {
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}
.features .neon-one{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.features .neon-two{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.features .feature-text{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.features .feature-text h5{
  font-family: var(--primary-font);
  font-size: 12px;
  text-transform: uppercase;
  line-height: 25px;
  font-weight: 700;
  color: var(--primary-color);
  border-radius: 50px;
  padding: 5px 25px;
  background: linear-gradient(to right, #ecf0f6 15%, transparent 100%);
  width: max-content;
}
.features .feature-text h2{
  font-family: var(--secendary-font);
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  letter-spacing: -2px;
  color: var(--primary-color);
  background: linear-gradient(to right top, #183fb9, #4f41df, #ae2eb9, #ef3f59, #e9522d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features .feature-text p{
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: var(--primary-color);
  width: 70%;
}

.feature-btn .btn-btns{
  position: relative;
  width: 280px;
  height: 60px;
  background-color: #292C36;
  text-align: center;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 20px;
}

.feature-btn .btn-btns a{
  text-decoration: none;
}

.feature-btn .button-text{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  color: var(--white-color);
  transition: transform 0.4s ease;
}

.feature-btn .text-default{
  transform: translateY(0);
}

.feature-btn .text-hover{
  transform: translateY(200%);
}

.feature-btn .btn-btns:hover .text-default {
  transform: translateY(-200%);
}

.feature-btn .btn-btns:hover .text-hover {
  transform: translateY(0);
}

.feature-btn .btn-btns i{
  position: absolute;
  top: 36%;
  left: 7%;
  font-size: 17px;
  line-height: 18px;
  padding-left: 8px;
  color: var(--white-color);
  z-index: 10;
}

.features .atropos-inner{
  overflow: visible !important;
}
.features .feature-atropos-shape {
  transition-duration: 300ms;
  transform: translate3d(0px, 0px, 0px);
  position: absolute;
  bottom: -17%;
  right: -12%;
  z-index: -1;
}
.features .feature-menu{
  background-color: rgba(0,0,0,.8);
  backdrop-filter: blur(5px);
  display: inline-block;
  position: absolute;
  right: -65px;
  bottom: -32px;
  transform: translate(-50%, -50%);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 9;
  border-radius: 8px;
}
.feature-menu ul li{
  font-family: var(--secendary-font);
  font-weight: 300;
  padding: 0;
  list-style: none;
  color: #ffffff;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.feature-menu ul li:last-child{
  border-bottom: none !important;
}
/* feature end */

/* testimonail start */
.testimonial {
  padding: 90px 0;
  background-image: linear-gradient(to top, #ffffff, #fefefe, #f3f2f8, #f3f4f9, #f4f5fa);
}
.testimonial .testi-head {
  text-align: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.testimonial .testi-head h5{
  font-family: var(--secendary-font);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 700;
  color: var(--primary-color);
  padding: 5px 30px;
  border-radius: 50px;
  display: inline;
  text-indent: 25px;
  padding-top: 5px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #dddfeb 15%, transparent 100%);
}
.testimonial .testi-head h2{
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 57.6px;
  line-height: 57.6px;
  color: var(--primary-color);
  text-align: center;
}
.testimonial .testi-box-wrapper{
  background-color: #efeef4;
}
.testimonial .testimonial-box{
  padding: 40px;
  margin-bottom: 20px;
  background: var(--white-color);
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}
.testimonial .testimonial-box p{
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--accent-color);
}
.testimonial .testimonial-box p a{
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--primary-font);
  color: var(--primary-color);
  text-decoration: underline;
}
.testimonial-box .testi-author h6{
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--primary-color);
  margin: 0;
}
.testimonial-box .testi-author .testi-start{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  color: #fd961e;
}
.testimonial .testi-btn {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 70%);
  padding-top: 160px;
  margin-top: -160px;
  z-index: 11;
}

.testimonial .testi-btn .btn-btns{
  position: relative;
  width: 325px;
  height: 60px;
  background-color: #292C36;
  align-items: center;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 20px;
  margin: 0px auto;
}

.testimonial .testi-btn .btn-btns a{
  text-decoration: none;
}

.testimonial .testi-btn .button-text{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  color: var(--white-color);
  transition: transform 0.4s ease;
}

.testimonial .testi-btn .text-default{
  transform: translateY(0);
}

.testimonial .testi-btn .text-hover{
  transform: translateY(200%);
}

.testimonial .testi-btn .btn-btns:hover .text-default {
  transform: translateY(-200%);
}

.testimonial .testi-btn .btn-btns:hover .text-hover {
  transform: translateY(0);
}

.testimonial .testi-btn .btn-btns i{
  position: absolute;
  top: 36%;
  left: 15%;
  font-size: 17px;
  line-height: 18px;
  padding-left: 8px;
  color: var(--white-color);
  z-index: 10;
}
/* testimonail end*/

/* footer start */
footer{
  background: url(../images/footer-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 90px 0;
}
.footer-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.footer-content h5 {
  font-family: var(--secendary-font);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 600;
  color: var(--white-color);
  padding: 5px 30px;
  border: .8px solid var(--accent-color);
  border-radius: 50px;
}
.footer-content h2 {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 70px;
  line-height: 70px;
  color: var(--white-color);
  text-align: center;
  padding: 0 10vw;
}
.footer-content p{
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: var(--accent-color);
}

.footer-content .btn-btns{
  position: relative;
  width: 280px;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 34px 0px 0px !important;
  margin: 0px auto;
}

.footer-content .btn-btns a{
  text-decoration: none;
}

.footer-content .button-text{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  color: var(--white-color);
  transition: transform 0.4s ease;
}

.footer-content .text-default{
  transform: translateY(0);
}

.footer-content .text-hover{
  transform: translateY(200%);
}

.footer-content .btn-btns:hover .text-default {
  transform: translateY(-200%);
}

.footer-content .btn-btns:hover .text-hover {
  transform: translateY(0);
}

.footer-content .btn-btns i{
  position: absolute;
  top: 41%;
  right: 17%;
  font-size: 21px;
  line-height: 18px;
  padding-left: 8px;
  color: var(--white-color);
  z-index: 10;
}
.footer-content .btn-btns{
  color: var(--white-color);
  background: linear-gradient(60deg, #e77d13, #fa4722, #ee2370, #a23cb3, #2c5cba, #007dab);
  background-size: 200% 200%;
  animation: footeBGgradient 10s ease infinite alternate;
  border-radius: 50px;
}
.footer-content .btn-btns a{
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
}

@keyframes footeBGgradient {
  0% {
      background-position: 0 50%
  }

  50% {
      background-position: 100% 50%
  }

  to {
      background-position: 0 50%
  }
}

.footer-content img{
  padding-top: 50px;
}
/* footer end */
